<div class="header">

    <app-menu></app-menu>

    <div class="grid">
        <div class="text">
            <h1>Crea y vende tus productos digitales aquí</h1>
            <p>Vende y gestiona tus productos digitales con nuestra plataforma, gana comisiones y ¡Construye mientras ganas con tu tienda online que cuenta con un montón de características geniales y exclusivas.</p>
        </div>
        <div class="image" data-aos="fade-left">
            <img src="assets/images/back1.png" alt="">
        </div>
    </div>
</div>